openapi: 3.1.0
info:
  title: OneGodian API
  version: 0.3.0
  description: |
    Production-oriented API surface for api.onegodian.org. This specification documents
    the current v0.3.0 routes for health, readiness, version visibility, alignment evaluation,
    member access, product catalog, mock billing posture, protected download authorization,
    and admin statistics.

    Current billing behavior is production-shaped but not full Stripe production yet. When
    STRIPE_SECRET_KEY is present, billing routes report stripe_configured. Real Stripe Checkout
    Session creation and webhook signature verification remain next-step implementation work.
servers:
  - url: https://api.onegodian.org
    description: Production API
  - url: http://localhost:3000
    description: Local development
security: []
tags:
  - name: System
  - name: Alignment
  - name: Registry
  - name: Members
  - name: Billing
  - name: Products
  - name: Admin
paths:
  /:
    get:
      tags: [System]
      summary: Service identity
      responses:
        '200':
          description: Service identity response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceIdentity'
  /health:
    get:
      tags: [System]
      summary: Health check
      responses:
        '200':
          description: API health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /ready:
    get:
      tags: [System]
      summary: Readiness check
      responses:
        '200':
          description: Readiness status for route modules
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadyResponse'
  /version:
    get:
      tags: [System]
      summary: Version visibility
      responses:
        '200':
          description: Current service version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionResponse'
  /api/status:
    get:
      tags: [System]
      summary: Runtime status
      responses:
        '200':
          description: Runtime status response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStatusResponse'
  /api/v1/profile:
    get:
      tags: [System]
      summary: OneGodian API profile
      responses:
        '200':
          description: API profile response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /api/v1/alignment/evaluate:
    post:
      tags: [Alignment]
      summary: Evaluate options under the OneGodian Algorithm decision rule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlignmentRequest'
      responses:
        '200':
          description: Ranked alignment result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlignmentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /api/v1/verify:
    post:
      tags: [Registry]
      summary: Development verification placeholder
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Verification placeholder response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /api/v1/register:
    post:
      tags: [Registry]
      summary: Development registration placeholder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Development record created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          $ref: '#/components/responses/BadRequest'
  /api/members/signup:
    post:
      tags: [Members]
      summary: Create a development member token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupRequest'
      responses:
        '201':
          description: Development member created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /api/members/login:
    post:
      tags: [Members]
      summary: Create a development member token for an email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Development login response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /api/members/me:
    get:
      tags: [Members]
      summary: Return authenticated development member profile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Authenticated member profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
                  requestId:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
  /billing/checkout:
    post:
      tags: [Billing]
      summary: Create a mock subscription checkout response
      description: Reports mock_checkout unless STRIPE_SECRET_KEY is configured.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingCheckoutRequest'
      responses:
        '200':
          description: Checkout response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCheckoutResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /billing/webhook:
    post:
      tags: [Billing]
      summary: Ingest a billing webhook event
      description: Development webhook route. Stripe signature verification remains next-step work.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRequest'
      responses:
        '200':
          description: Webhook received
          content:
            application/json:
              schema:
                type: object
                properties:
                  received:
                    type: boolean
                  eventCount:
                    type: integer
                  requestId:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
  /billing/status:
    get:
      tags: [Billing]
      summary: Return authenticated billing status
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Billing status
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/products:
    get:
      tags: [Products]
      summary: Return digital product catalog
      responses:
        '200':
          description: Product catalog
          content:
            application/json:
              schema:
                type: object
                properties:
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
                  requestId:
                    type: string
  /api/products/checkout:
    post:
      tags: [Products]
      summary: Create a digital product checkout and temporary download token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCheckoutRequest'
      responses:
        '200':
          description: Product checkout response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCheckoutResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/products/downloads/{token}:
    get:
      tags: [Products]
      summary: Authorize a temporary protected download token
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Download authorization response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          description: Download token expired
  /admin/stats:
    get:
      tags: [Admin]
      summary: Return admin-only operational stats
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Admin stats
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  responses:
    BadRequest:
      description: Invalid request payload
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing or invalid bearer token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        requestId:
          type: string
      required: [error, requestId]
    ServiceIdentity:
      type: object
      properties:
        name:
          type: string
        status:
          type: string
        version:
          type: string
        timestampUtc:
          type: string
          format: date-time
        requestId:
          type: string
    HealthResponse:
      type: object
      properties:
        ok:
          type: boolean
        service:
          type: string
        timestampUtc:
          type: string
          format: date-time
        uptimeSeconds:
          type: integer
        requestId:
          type: string
    ReadyResponse:
      type: object
      properties:
        ok:
          type: boolean
        ready:
          type: boolean
        checks:
          type: object
          properties:
            routes:
              type: boolean
            billing:
              type: boolean
            products:
              type: boolean
            members:
              type: boolean
        timestampUtc:
          type: string
          format: date-time
        requestId:
          type: string
    VersionResponse:
      type: object
      properties:
        name:
          type: string
        version:
          type: string
        requestId:
          type: string
    ApiStatusResponse:
      type: object
      properties:
        service:
          type: string
        ready:
          type: boolean
        node:
          type: string
        environment:
          type: string
        requestId:
          type: string
    AlignmentRequest:
      type: object
      required: [context]
      properties:
        context:
          type: string
          minLength: 1
          maxLength: 5000
        options:
          type: array
          minItems: 1
          maxItems: 12
          items:
            type: string
            minLength: 1
            maxLength: 1000
        metadata:
          type: object
          additionalProperties: true
    AlignmentResponse:
      type: object
      properties:
        decisionRule:
          type: string
        ranked:
          type: array
          items:
            type: object
            properties:
              option:
                type: string
              alignmentScore:
                type: number
        selected:
          type: object
          properties:
            option:
              type: string
            alignmentScore:
              type: number
        timestampUtc:
          type: string
          format: date-time
        requestId:
          type: string
    RegisterRequest:
      type: object
      required: [title]
      properties:
        type:
          type: string
          enum: [member, artifact, prompt, algorithm_result, identity_record]
          default: artifact
        title:
          type: string
          minLength: 1
          maxLength: 200
        owner:
          type: string
          maxLength: 200
        payload:
          type: object
          additionalProperties: true
    SignupRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        name:
          type: string
          maxLength: 120
        password:
          type: string
          minLength: 8
          maxLength: 200
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 1
          maxLength: 200
    AuthResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        token:
          type: string
        requestId:
          type: string
    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        name:
          type: string
        role:
          type: string
          enum: [member, admin]
        subscription:
          type: string
        createdAt:
          type: string
          format: date-time
    BillingCheckoutRequest:
      type: object
      properties:
        plan:
          type: string
          enum: [monthly, pro, founder]
          default: monthly
        successUrl:
          type: string
          format: uri
        cancelUrl:
          type: string
          format: uri
    BillingCheckoutResponse:
      type: object
      properties:
        billingMode:
          type: string
          enum: [mock_checkout, stripe_configured]
        plan:
          type: object
          additionalProperties: true
        checkoutSessionId:
          type: string
        checkoutUrl:
          type: string
        requestId:
          type: string
    WebhookRequest:
      type: object
      required: [type]
      properties:
        type:
          type: string
        data:
          type: object
          additionalProperties: true
      additionalProperties: true
    Product:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        priceUsd:
          type: number
        delivery:
          type: string
        status:
          type: string
    ProductCheckoutRequest:
      type: object
      required: [productId]
      properties:
        productId:
          type: string
        email:
          type: string
          format: email
        successUrl:
          type: string
          format: uri
        cancelUrl:
          type: string
          format: uri
    ProductCheckoutResponse:
      type: object
      properties:
        product:
          $ref: '#/components/schemas/Product'
        checkoutSessionId:
          type: string
        checkoutUrl:
          type: string
        downloadToken:
          type: string
        expiresAt:
          type: string
          format: date-time
        requestId:
          type: string
